* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* shared style */
.text-color-1 {
  color: #000000;
  font-family: Noto Serif;
  font-size: 3.1rem;
  font-weight: 700;
}
.text-color-2 {
  color: rgb(233, 90, 8);
}
.text-color-3 {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1.1rem;
  font-weight: 400;
}

/* nav style  */
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  max-width: 1140px;
  margin: 0px auto;
}

.nav-list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 48px;
}
.nav-list li {
  list-style: none;
}
.nav-list li a {
  text-decoration: none;
  font-size: 1rem;
  font-family: Inter;
}

.home {
  color: rgb(37, 36, 50);
  font-weight: 700;
}
.shop {
  color: rgb(137, 135, 161);
  font-weight: 400;
}
.about {
  color: rgb(137, 135, 161);
  font-weight: 400;
}
.cart {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

/* banner style */

.banner {
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.banner-description {
  padding-top: 180px;
}
.banner-description h2 {
  font-family: Noto Serif;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description p {
  font-family: Inter;
  font-size: 1.1rem;
  font-weight: 400;
  padding-top: 5px;
}
.banner-img {
  padding-top: 90px;
}
.banner-img img {
  width: 100%;
}

/* our plant style */
.plants-section {
  text-align: center;
  margin: 0px auto;
  max-width: 1140px;
  margin-top: 120px;
}
.plants-section-description h4 {
  font-family: Noto Serif;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 68px;
}
.plants-section-description p {
  font-family: Inter;
  font-weight: 400;
}

/* card-section */

.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  max-width: 270px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
  background-color: rgb(255, 255, 255);
  margin-top: 49px;
}
.card img {
  border-radius: 5px;
  width: 100%;
  height: auto;
}
.card h6 {
  color: rgb(17, 17, 17);
  font-family: Inter;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 10px;
}
.card h5 {
  color: rgb(17, 17, 17);
  font-family: Inter;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.btn-primary {
  background: rgb(233, 90, 8);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  padding: 26px 50px 26px 50px;
  border: none;
  border-radius: 3px;
}

/* plants lover section */
.plant-lover-section {
  max-width: 1140px;
  height: 597px;
  gap: 60px;
  margin-top: 200px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plant-lover-img {
  max-width: 100%;
  position: relative;
}
.img-1 {
  width: 100%;
  position: static;
}
.img-2 {
  position: absolute;
  width: 60%;
  bottom: 70%;
  right: -20%;
}

.plant-lover-description li {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* latest-deal-style */
.latest-deal-description {
  text-align: center;
  margin: 0px auto;
  max-width: 1140px;
  margin-top: px;
  margin-bottom: 80px;
}
.latest-deal-description h1 {
  padding-bottom: 10px;
}

/* latest deal card section */
.cards {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.left-cards {
  max-width: 366px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-1-text {
  color: rgb(255, 255, 255);
  font-family: Noto Serif;
  font-size: 20px;
  font-weight: 700;
  padding: 65px 47px 50px 47px;
  text-align: center;
}
.card-1-text a {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  text-decoration-line: underline;
}
.card-2-text {
  color: rgb(255, 255, 255);
  font-family: Noto Serif;
  font-size: 20px;
  font-weight: 700;
  padding: 65px 47px 50px 47px;
  text-align: center;
}
.card-1 {
  max-width: 350px;
  height: 200px;
  border-radius: 5px;
  background-image: url(../images/deal-bloom.png);
  background-size: cover;
}
.card-2 {
  max-width: 350px;
  height: 200px;
  border-radius: 5px;
  background-image: url(../images/deal-ana.png);
  background-size: cover;
}
.card-2-text a {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  text-decoration-line: underline;
}
.right-card {
  max-width: 750px;
  height: 420px;
  border-radius: 10px;
  background-image: url(../images/deal-zabo.png);
  background-size: cover;
}
.right-card-text {
  color: rgb(255, 255, 255);
  font-family: Noto Serif;
  font-size: 40px;
  font-weight: 700;
  padding: 200px 100px;
  text-align: center;
}
.right-card-text a {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  text-decoration-line: underline;
}
/* responsive style  */

@media screen and (max-width: 576px) {
  * {
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
  }
  .nav-list ul {
    gap: 0px;
  }
  .home,
  .about,
  .shop {
    display: none;
    visibility: hidden;
  }

  .banner {
    flex-direction: column-reverse;
  }
  .banner-description {
    padding-top: 28px;
  }
  .banner-description h2 {
    font-size: 1.2rem;
  }
  .banner-description p {
    font-size: 0.8rem;
  }
  .banner-img {
    padding-top: 30px;
  }
  /* card section */
  .card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .btn-primary {
    padding: 10px 7px;
    font-size: 0.8rem;
  }
  /* plant lover section */
  .plant-lover-section {
    flex-direction: column;
  }
  .plant-lover-description h1 {
    font-size: 1.3rem;
  }
  .img-2,
  .br-1 {
    display: none;
  }
  .plant-lover-description ul {
    margin-left: 15px;
  }
  /* latest deal responsive */
  .latest-deal-description {
    margin-top: 300px;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .right-card {
    max-width: 100%;
    height: 230px;
    margin-top: 20px;
  }
  .right-card-text {
    padding: 100px 10px;
    font-size: 30px;
  }
  .right-card-text br {
    display: none;
  }
}
